/* -------------------------------------------------- *
 * Dialog                                             *
 * -------------------------------------------------- */

.cb__dialog {
  &:has(input:invalid) .cb__body {
    display: none;
  }
}

.cb__header {
  font-weight: normal;
  margin: 0;
}

.cb__body {
  max-height: calc(80dvh - 12rem);
  overflow: auto;

  > * {
    margin-top: 0.625rem;
  }
}

.cb__results-list {
  list-style-type: none;
  margin: 0.625rem 0 0 0;
  padding: 0;
}

/* -------------------------------------------------- *
 * List items                                         *
 * -------------------------------------------------- */

.cb__result {
  background: transparent;
  color: var(--c-fg);
  justify-content: start;
  outline-offset: var(--outline-inset);
  padding: 0.375rem 0.5rem;
  text-align: left;
  width: 100%;

  &:hover {
    background: var(--c-surface-variant-bg);
  }

  &.cb__result--focused {
    background: var(--c-surface-variant-bg);
  }

  &.cb__result--chord-match {
    background: var(--primary-50);
    color: var(--primary-500);

    &:hover {
      background: var(--primary-100);
    }

    .cb__group-name {
      color: var(--primary-400);
    }

    .cb__chord {
      border-color: var(--primary-200);
      color: var(--primary-400);
    }
  }

  > :empty {
    display: none;
  }
}

.cb__group-name {
  color: var(--c-fg-variant);
  display: inline-block;
  flex: none;
  font-weight: var(--font-weight-normal);

  &:after {
    content: "›";
    margin-left: 0.75ch;
  }
}

.cb__chord {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-small);
  border: var(--border-width) solid var(--c-border);
  color: var(--c-fg-variant);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
  margin-left: auto;
  padding: 0 0.25rem;
}
